<mat-grid-list class="toolbar" cols="3" rowHeight="8:1">

  <mat-grid-tile>
    <button mat-raised-button (click)="exitGame()" color="warn">Wyjdź z gry</button>
    <button mat-raised-button (click)="sendMessage()" color="warn">Test</button>
  </mat-grid-tile>

  <mat-grid-tile>
      <span>
        Players Nick: "{{nick}}"
      </span>
  </mat-grid-tile>

  <mat-grid-tile>
    <span>
      Score: {{score}}
    </span>
  </mat-grid-tile>

</mat-grid-list>

<canvas id="canvas" class="canvas-root" width="900" height="900"></canvas>
